@font-face {
  font-family: "stentiga";
  src: url("../public/stentiga.otf");
  font-style: bold;
  font-weight: bold;
}

.navegacion {
  background-color: #7e7805fa; /* Color de fondo */
  background-image: url("../public/background2.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center; /* Centrar la imagen de fondo */
  color: #505050;
  padding: 0.50% 1% 0.5% 1%; /* Relleno, 10 arriba y abajo, 5 izquierda y derecha */
  display: flex; /* Mostrar como Flexbox */
  flex-wrap: wrap; /* Ajustar a la pantalla */
  align-items: center;
  justify-content: flex-start; /* Centrar los elementos */
  gap: 2vw; /* Espacio entre elementos */
  border-bottom: 1px solid #e1e1e1;
  object-fit: contain;
}


.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.titulo{
  font-family: "stentiga";
  color: #0a2d20; /*troleito*/
  font-size: 2vi;
}

.leyenda li{
  color: #1f321e;
  font-size: 1.6vi;
  margin-left: 5%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.leyenda p{
  display: flex;
  font-size: 0.9vi;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.homeMap{
  object-fit: contain;
  display:flex;
  flex-wrap: wrap;
  z-index: 0;
  width: 100vw; /* antes 95*/
  height: 100vh; /* antes 80*/
}
.Menu{
  padding: 12px 24px;
  font-size: 16px;
  background-color: #f3a847; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Menu:hover {
  background-color: #f3a847;
}


.checkboxLager {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(247, 222, 123);
}

.checkboxSinFiltrar{
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(226, 132, 149);
}

.checkboxBock {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(129, 149, 228);
}

.checkboxPaleAle {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(233, 171, 135);
}

.checkboxTrigo{
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: rgb(159, 226, 163);
}

.Drawer {
  background-image: url("../public/Cer3.jpg");
  color: #f0ebeb;
}

.drawer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; /* Adjust the top margin as needed */
  text-align: center;
}
.drawerList {
  margin-left: 4%;
}